@import '@fontsource/poppins';
@import '@fontsource/ibm-plex-mono';

html {
	/* font-family: 'Poppins', sans-serif; */
	/* font-weight: 500; */
	/* font-variation-settings: 'wdth' 75, 'wght' 500; */

	--font-sans: 'Poppins', sans-serif;
	--font-mono: 'IBM Plex Mono', monospace;
	--size-content-lg: 90%;
	--anchor-visited: #666;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	height: 100%;
}

html {
	color: var(--text-1);
	accent-color: var(--link);
	background-image: var(--background);
	background-attachment: fixed;
}

a:visited {
	color: var(--anchor-visited);
}

img {
	border-radius: var(--radius-3);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}
